// should be copied to `env-config.js` for each specific environnement
window.ENV_CONFIG = {
    varsion: '0.0.0',     // is added as to script src - can be used to force cache update
    name: 'dev',
    minify: false,
    debug: true,
    // can be extended with environment specific config (analytics tracker, etc...)
};